html, body{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}


header {
	position: absolute;
	top:0;
	left:0;
	right:0;
	height:88px;
	background-image: url("/titleGradient.png");
	z-index: 100;
}

header #title{
	margin-left: auto;
    margin-right: auto;
    display:block;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
}

#map {
	z-index:0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#bottomCurtain {
	z-index: 200;
	position: absolute;
	left:0;
	right:0;
	height:320px;
	bottom: 0;
	background-image: url('/curtain_gradient.png');
	transition: bottom 500ms ease;
}

#bottomCurtain.down {
	bottom: -230px;
}

#hotbutton {
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	margin-top:-45px;
	background-image: url('/hotButton_up.png');
	background-position: bottom;
	background-repeat: no-repeat;
	width: 235px;
	height: 152px;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;  
}

#hotbutton:hover{
	background-image: url('/hotButton_up_hover.png');
}

#hotbutton:active, #hotbutton.clicked{
	background-image: url('/hotButton_down.png');
	left:-2px;
}

#hotbutton.clicked:hover{
	background-image: url('/hotButton_down_hover.png');
}

#tagwrapper{
	background-image: url('/textarea_left.png'), url('/textarea_right.png');
	padding-left: 20px;
	padding-right: 20px;
	background-position: left top, right top;
	height: 59px;
	width:555px;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
}

#tagfield:focus{
    outline: 0;
}

#tagfield{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:59px;
    width: 100%;
    border:none;
    background-color: transparent;
    background-image: url('/textarea_gradient.png');
}

#copytext{
    position: absolute;
}

#tagfield, #copytext, #tag-list li {
    font-family: Helvetica, sans-serif;
    font-size: 1.2em;
}

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height:30px;
	background-color: rgba(50,50,50,.5);
	width:100%;
	text-align: center;
	padding-top:7px;
}

footer span{
	font-family: Helvetica, sans-serif;
	color: #111;
}

footer span:before{
	content:'';
	display:inline-block;
	background-image: url('/teamlogo.png');
	background-size:100%;
	width:26px;
	height:22.25px;
	margin-right:4px;
}

#tag-list {
    display: block;
    padding: 0;
    position: relative;
    max-width: 555px;
    overflow: hidden;
    text-overflow:ellipsis;
    color: #f00;
}

#tag-list li {
    font-style: italic;
    padding-right: 0.5em;
    display: inline;
    color: #f00;

}

@media (min-width: 601px){
	header {
		height:44px;
		background-size: 100% 100%;
	}

	header #title{
		height: 76.5px;
		width: auto;
	}

	#bottomCurtain {
		bottom: -90px;
	}

	#bottomCurtain.down {
		bottom: -270px;
	}

	#hotbutton {
		margin-top:-25px;
		width: 118px;
		height: 76px;
		background-size: 100% 100%;
		margin-bottom: 20px;
	}

	footer{
		bottom: 90px;
	}
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    color: #f00;
    font-style: italic;
}

.leaflet-marker-icon:not(.leaflet-clickable) {
    pointer-events: none;
}


