#map {
	width: 500px;
	height: 500px;
	float:left;
}

button#hotbutton {
 float:right;
}

#tags {
    box-sizing: border-box;
    width: 150px;
    max-width: 150px;
}

#tag-list {
    position: relative;
}

#tag-list li {
    display: inline;
    font-size: 0.8em;
    color: #08f;
}